# Russian Billiard
Recreate Method proposed by Grigoriev (2013)

In [4]:
# basic modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d
import matplotlib.animation as animation
#import plotly.express as px

# spice module
import spiceypy as spice

# astropy and poliastro modules
import astropy.units as u
from astropy import time

import poliastro
from poliastro import iod
from poliastro.twobody import Orbit
from poliastro.maneuver import Maneuver

gzip was not found on your system! You should solve this issue for astroquery.eso to be at its best!
On POSIX system: make sure gzip is installed and in your path!On Windows: same for 7-zip (http://www.7-zip.org)!

In [5]:
# load spice kernels
spice.furnsh('../spice/naif0012.tls')

# define gravitational parameters
MU = 1.32712440018*10**11   # sun's gravitational parameter [km^3/s^2]
AU = 1.49597870691*10**8    # astronomical unit [AU] to [km]
g0 = 9.80665                # gravitational acceleration [m/s^2]

# define spacecraft parameters
msc_min = 500               # minimum spacecraft mass [kg]
tdep_min = 57023.0          # earliest departure time 00:00:00 January 1, 2015 [MJD]
tdep_max = 61401.0          # latest depature time 24:00:00 December 31, 2025 [MJD]


# conversion of MJD to JD
def MJD2JD(mjd):
    """function converts MJD (Modified Julian Date) to JD (Julian Date)
    Args:
        mjd (float): ephemeris in MJD
    Returns:
        (float): ephemeris equivalent in JD
    """
    jd = mjd + 2400000.5
    return jd

In [ ]:
# import ephemerides data from GTOC4 into pandas dataframe
df = pd.read_csv('../gtoc4_problem_data.txt', skiprows=2,delimiter= '\s+',header=None)
df.columns = ['Name','Epoch','a','e','i','LAN','omega','M0']
df.head()

num,tmp = df.shape
print(df.shape)
df.head(3)

(1436, 8)

,Name,Epoch,a,e,i,LAN,omega,M0
0,'1580',54800.0,2.196803,0.487683,52.090794,62.324795,159.539839,3.521687
1,'1620',54800.0,1.245551,0.335511,13.337693,337.266017,276.806539,136.950031
2,'1943',54800.0,1.430317,0.255816,8.704065,246.401915,338.253875,288.405238