In [1]:
import numpy as np
from numpy.linalg import norm
import scipy as sp
import pandas as pd
import scipy.optimize as opt
import random

import logging

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d

from asteroid import Asteroid
from lambert_izzo import lambert

In [2]:
df = pd.read_csv('../gtoc4_problem_data.txt', skiprows=2,delimiter= '\s+',header=None)
df.columns = ['Name','Epoch','a','e','i','LAN','omega','M0']
df.head()

,Name,Epoch,a,e,i,LAN,omega,M0
0,'1580',54800.0,2.196803,0.487683,52.090794,62.324795,159.539839,3.521687
1,'1620',54800.0,1.245551,0.335511,13.337693,337.266017,276.806539,136.950031
2,'1943',54800.0,1.430317,0.255816,8.704065,246.401915,338.253875,288.405238
3,'2061',54800.0,2.264953,0.537119,3.770822,207.654108,156.432028,46.995497
4,'2135',54800.0,1.599572,0.503268,23.054312,191.262849,290.838892,256.724981

In [6]:
df.loc[1057]

Name     '2006QV89'
Epoch         54800
a           1.19173
e          0.224314
i           1.06977
LAN          166.12
omega       236.638
M0          219.754
Name: 1057, dtype: object